{% extends 'lab_9/_base.html' %}
{% load static %}

{% block title %}Nicolaus | Story 9 Books{% endblock %}
{% block css %}
  <link type="text/css" rel="stylesheet" href="{% static 'lab_9/index/style.css' %}">
{% endblock %}
{% block script %}
  <script src="{% static 'lab_9/index/script.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="display-1">BOOKS</h1>

  <a type="button" class="btn btn-dark" href="{% url 'lab_9:register' %}">Subscribe to newsletter</a>
  <a type="button" class="btn btn-dark" href="{% url 'lab_9:subscribers' %}">View subscribers</a>
  {% if request.user.is_authenticated %}
    <div class="btn btn-light">Hi {{ request.user }}!</div>
    <a type="button" class="btn btn-light" href="{% url 'authentication:logout' %}">Logout</a>
  {% else %}
    <a type="button" class="btn btn-light" href="{% url 'authentication:login' %}">Login</a>
  {% endif %}
  <h1 class="display-4">Favourites: <span id="counter">-</span></h1>
  <p class="lead session-info">Session Fav: <span id="session-counter">-</span></p>
  <div class="search-form row justify-content-center">
    <div class="col-7 col-md-5">
      <input type="text" class="form-control" id="search-query" placeholder="search something">
    </div>
    <div class="col-1 col-md-1">
      <button id="submit-button">submit</button>
    </div>
  </div>

  <table id="books" class="table">
    <thead>
      <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Short description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3"><div class="loader"></div></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}