{% extends 'lab_9/_base.html' %}
{% load static %}

{% block title %}Nicolaus | Story 10 Subscribe{% endblock %}
{% block script %}<script src="{% static 'lab_9/register/script.js' %}"></script>{% endblock %}
{% block content %}
<div class="container">
  <h1>Register</h1>
  <p id="message"></p>
  <form action="{% url 'lab_9:register' %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
      {{ form.name.errors }}
      <label for="{{ form.name.id_for_label }}">Name:</label>
      {{ form.name }}
      <div class="invalid-feedback">
        Name cannot be empty
      </div>
    </div>
    <div class="form-group">
      {{ form.email.errors }}
      <label for="{{ form.email.id_for_label }}">Email:</label>
      {{ form.email }}
      <div class="invalid-feedback">
        Must be a valid email
      </div>
    </div>
    <div class="form-group">
      {{ form.password.errors }}
      <label for="{{ form.password.id_for_label }}">Password:</label>
      {{ form.password }}
      <div class="invalid-feedback">
        Password cannot be empty
      </div>
    </div>
    <button id="register-button" class="btn waves-effect waves-light black" type="submit" name="action" disabled>Register</button>
  </form>
</div>

{% endblock %}