{% extends 'lab_9/_base.html' %}
{% load static %}

{% block title %}Nicolaus | Story 10 Subscribers{% endblock %}

{% block content %}
<div class="container">
  <h1>Subscriber list</h1>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for name, email in data %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ name }}</td>
          <td>{{ email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}