h1 {
  text-align: center;
}
.table img {
  height: 100px;
}

/* navbar */
.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
}

/* star icons */
.favourite-icon {
  transition: color linear 150ms;
  font-size: 3em; 
  color: grey;
}
.favourite-icon:hover {
  color: #53a9cc !important;
}
.favourite-icon.active {
  color: #53a9cc !important;
}

/* search books */
.search-form {
  margin-bottom: 20px;
}
.search-form button {
  height: 100%;
}

/* loader */
.loader {
  position: absolute;
  left: 50%;
  margin: 0 0 0 -45px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid black;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* session counter */
.session-info {
  text-align: center !important;
  font-size: 1.5rem !important;
}