body {
    margin-bottom: 50px;
}

.message-card-date {
    font-size: 1rem !important;
    color: grey;
    font-weight: 400;
}
.message-card-delete {
    float: right;
}

/* change theme */
body {
    transition: 200ms;
}
body.change-theme {
    background-color: #232931;
    transition: 200ms;
}
body.change-theme h1 {
    color: #3fa07f;
}
body.change-theme .card {
    background-color: #eeeeee !important;
}
body.change-theme .text-warning {
    color: #3fa07f !important;
}
body.change-theme .jumbotron {
    background-color: #eeeeee !important;
    color: #3fa07f;
}
body.change-theme .jumbotron .lead{
    color: #3fa07f !important;
}

/* accordion */
.accordion__head {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.accordion__head:hover {
    background-color: #ccc;
}
.accordion__body {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.2s;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
body.change-theme .accordion__body {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.accordion__item.expanded > .accordion__body {
    max-height: 999px;
    transition: max-height 0.2s;
}
.accordion__head:after {
    content: "\002B";
    font-weight: bold;
    color: black;
    float: right;
}
.accordion__item.expanded .accordion__head:after {
    content: "\2212";
}
.accordion__body p {
    margin: 15px;
}
body.change-theme .accordion__body p {
    color: white;
}

/* loader */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -60px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid black;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s ease-in-out infinite;
}

body.change-theme .loader {
    border: 16px solid #eeeeee;
    border-top: 16px solid #3fa07f;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container {
    display: none;
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }