h1 {
    font-size: 48px;
    text-align: center;
}
h2 {
    font-size: 36px;
    text-align: center;
}
h3 {
    font-size: 30px;
}
p {
    font-size: 18px;
}
a {
    color: black;
}
.custom-wrapper {
    position: relative;
    z-index: 10;
    height: 64px;
}
.nav-wrapper {
    padding: 0 10px;
    background-color: rgb(255, 255, 255);
}
nav ul li a {
    font-size: 18px;
    color: black;
    padding: 0 10px !important;
}
.section {
    padding: 0px;
}
.table-of-contents a.active, .table-of-contents a:hover {
    border: 0;
}
.table-of-contents a:hover{
    color: black;
    background-color: white;
    border-bottom: 1px solid black;
}
.table-of-contents a.active {
    border-bottom: 2px solid black;
}
.divider {
    background-color: black;
    margin: 20px 0;
}
.empty-div {
    height: 70px;
}
.side-nav {
    width: 200px;
}
.row {
    margin-bottom: 0;
}

/* landing page section */
.landing-page {
    position: relative;
    height: 100vh;
}
.landing-page .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.down-arrow {
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -32px;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 30px, 0); }
}

/* profile section */
.profile-pic img {
    display: block;
    width: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.interest {
    display: block;
    margin-bottom: 20px;
}
.interest .icon {
    display: inline-block;
}
.interest .icon img {
    width: 32px;
}
.interest .text {
    position: relative;
    bottom: 10px;
    font-size: 20px;
    margin-left: 10px;
}

/* experience section */
.custom-experience-card-content {
    overflow: auto;
}
.custom-experience-card-content .experience-card-heading {
    font-size: 20px;
    line-height: 1.8em;
    font-weight: 300;
}

/* featured projects section */
.view-details {
    float: right;
}
.project-card .card-title {
    padding-bottom: 5px;
}
.project-card .card-content {
    padding: 15px;
}
.project-card .card-action {
    padding: 16px 15px;
    overflow: auto;
}
.project-card .card-action a {
    margin-right: 0 !important;
    float: right;
}

/* contact section */
.contact {
    margin-bottom: 0;
    height: 100vh;
    min-height: 500px;
    padding-top: 64px;
    position: relative;
}
.contact-card {
    text-align: center;
}
.contact-card a{
    color: white;
}
.contact-card .quote {
    margin-bottom: 50px;
}
.contact-card .icon {
    display: inline-block;
    margin-bottom: 20px;
}
.contact-card .icon img {
    width: 32px;
}
.contact-card .text {
    position: relative;
    bottom: 10px;
    font-size: 20px;
    margin-left: 10px;
}
.copy-left { 
    display: inline-block; 
    transform: scaleX(-1); 
    padding-top: 20px;
}
.symbol-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
}

/* details page */
.detail-title h1 {
    margin-bottom: 0;
}
.detail-title p {
    text-align: center;
    margin-top: 0;
}
.clickable {
    display: inline-block;
}

/* datepicker */
.picker__date-display, .register-menu .picker__weekday-display{
    background-color: black;
}
.picker__day.picker__day--today { color: black; }
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected { background-color: black;}
.picker__clear { color: black !important;}
.picker__close { color: black !important;}
.picker__today { color: black !important;}

/* activity */
.activity-card {
    display: flex;
    padding: 12px;
}
.activity-date {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    flex-basis: 100px;
    min-width: 100px;
    text-align: center;
    padding-right: 12px;
}
.activity-date .date-text {
    font-size: 36px;
    font-weight: 100;
}
.activity-content {
    flex-grow: 1;
    padding: 5px;
    padding-left: 12px;
    border-left: 1px solid black;
}
.activity-title {
    font-size: 16px;
    font-weight: 500;
}
.activity-category {
    padding: 0 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.activity-location {
    padding-left: 10px;
}

.activity-location .icon {
    width: 16px;
    margin-right: 5px;
}

.activity-date {
}