<!DOCTYPE html> {% load static %}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'lab_6/style.css' %}">

    <title>Nicolaus</title>
</head>

<body>
    <div class="loader"></div>

    <div class="container animate-bottom">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="display-1">Hello, how are you?</h1>
                <p>
                    <button id="update-button" class="btn bg-dark text-light" type="button" data-toggle="collapse" data-target="#messageFormCollapse" aria-expanded="false"
                        aria-controls="messageFormCollapse">
                        Give an update of yourself
                    </button>
                    <a class="btn bg-dark text-light" href="{% url 'lab_6:profile' %}">
                        See profile
                    </a>
                    <a class="btn bg-dark text-light" id="change-theme-button">
                        Change theme
                    </a>
                </p>
                <div class="collapse" id="messageFormCollapse">
                    <div class="card card-body">

                        <form action="{% url 'lab_6:index' %}" method="post" id="message-form">
                            {% csrf_token %} {{ form.non_field_errors }}
                            <div class="form-group">
                                {{ form.message.errors }}
                                {{ form.message }}
                            </div>
                            <div>
                                <button id="submit-button" type="submit" name="action">
                                    submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                {% for message in messages %}
                <!-- <div class="card bg-light mb-3" style="max-width: 18rem;"> -->
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Nicolaus
                            <span class="message-card-date">{{ message.created_at|date:"F d H:i" }}</span>
                        </h5>
                        <p class="card-text">{{ message.message }}</p>
                        <a id="delete-status" class="text-warning message-card-delete" href="{% url 'lab_6:delete' message.id %}">delete</a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'lab_6/script.js' %}"></script>
</body>

</html>