<!DOCTYPE html> {% load static %}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'lab_6/style.css' %}">

    <title>Nicolaus</title>
</head>

<body>
    <div class="loader"></div>

    <div class="container animate-bottom">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="jumbotron bg-dark text-light">
                    <h1 class="display-4">Nicolaus C</h1>
                    <p class="lead">A second year computer science student.</p>
                    <a class="btn bg-light text-dark" href="{% url 'index' %}" role="button">Get back and send me an update</a>
                    <a class="btn bg-light text-dark" id="change-theme-button">
                        Change theme
                    </a>
                </div>
            </div>
        </div>

        <div class="accordion">
            <div class="accordion__item">
                <button class="accordion__head">Activities</button>
                <div class="accordion__body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum nisl ac neque porttitor ultricies. Suspendisse potenti. Integer mollis, dolor in commodo molestie, nulla ligula lobortis velit, eget mollis odio ipsum nec nisi. Suspendisse eu sapien nunc.
                    </p>
                </div>
            </div>
            <div class="accordion__item">
                <button class="accordion__head">Experience</button>
                <div class="accordion__body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum nisl ac neque porttitor ultricies. Suspendisse potenti. Integer mollis, dolor in commodo molestie, nulla ligula lobortis velit, eget mollis odio ipsum nec nisi. Suspendisse eu sapien nunc.
                    </p>
                </div>
            </div>
            <div class="accordion__item">
                <button class="accordion__head">Achievements</button>
                <div class="accordion__body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum nisl ac neque porttitor ultricies. Suspendisse potenti. Integer mollis, dolor in commodo molestie, nulla ligula lobortis velit, eget mollis odio ipsum nec nisi. Suspendisse eu sapien nunc.
                    </p>
                </div>
            </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{% static 'lab_6/script.js' %}"></script>
</body>

</html>