<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- materialize css and custom css -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link type="text/css" rel="stylesheet" href="{% static 'lab_4/css/style.css' %}">

        <title>{% block title %}{% endblock %}</title>
    </head>
    
    <body>
        {% block content %}{% endblock %}

        <!--JavaScript at end of body for optimized loading-->    
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="{% static 'lab_4/js/script.js' %}"></script>
    </body>
</html>