{% load static %}

<section id="contact" class="section scrollspy">
    <div class="contact black">
        <div class="row">
            <div class="col s12 white-text">
                <div class="contact-card">
                    <h1>Contact</h1>
                    <p class="quote">Let’s build something amazing together!</p>
                    <div class="col s12 l4">
                        <a href="https://www.github.com/nicolauscg" target="_blank">
                            <div class="icon">
                                <img src="{% static 'lab_4/img/002-cat.png' %}">
                            </div>
                            <span class="text">github.com/nicolauscg</span>
                        </a>
                    </div>
                    <div class="col s12 l4">
                        <a href="https://www.linkedin.com/in/nicolauscg" target="_blank">
                            <div class="icon">
                                <img src="{% static 'lab_4/img/003-linkedin.png' %}">
                            </div>
                            <span class="text">linkedin.com/in/nicolauscg</span>
                        </a>
                    </div>
                    <div class="col s12 l4">
                        <a href="mailto:nicolauscg@gmail.com" target="_blank">
                            <div class="icon">
                                <img src="{% static 'lab_4/img/001-mail.png' %}">
                            </div>
                            <span class="text">nicolauscg@gmail.com</span>
                        </a>
                    </div>
                    <div class="col s12">
                        <div class="symbol-name">
                            <p>
                                <span class="copy-left">&copy;</span>2018 Nicolaus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>