{% extends 'lab_4/_base.html' %}
{% load static %}

{% block title %}Project detail{% endblock %}

{% block content %}
    <!-- navbar -->
    <div class="custom-wrapper">
        <nav class="navbar">
            <div class="nav-wrapper white black-text">
                <span class="brand-logo black-text">N</span>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
                <ul class="right hide-on-med-and-down section table-of-contents">
                    <li><a href="{% url 'lab_4:index' %}#project">Return to Projects</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="{% url 'lab_4:index' %}#project">Return to Projects</a></li>
    </ul>

    <div class="row">
        <div class="col s12 m10 l8 push-m1 push-l2">
            <div class="detail-title">
                <h1>Circular</h1>
                <p>Web content rating and discussion website . Sep 2018</p>
                <div class="divider"></div>
            </div>
            <div class="detial-content">
                <p>Role : Front End Developer</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor erat, 
                    consequat in rutrum quis, auctor non lacus. Etiam sollicitudin tincidunt placerat
                </p>
                <div class="interest">
                    <a href="https://ppwki.ajardia.com" target="_blank">
                        <div class="clickable">
                            <div class="icon"><img src="{% static 'lab_4/img/004-pin.png' %}"></div>
                            <span class="text">visit site</span>
                        </div>
                    </a>
                </div>
                <img src="{% static 'lab_4/img/circular.jpg' %}" alt="screenshot">
            </div>
            <div class="empty-div"></div>
        </div>
    </div>

    <!-- contact section -->
    {% include "lab_4/_contact.html" %}
{% endblock %}