{% extends 'lab_4/_base.html' %}
{% load static %}

{% block title %}Nic's Portfolio{% endblock %}

{% block content %}
    <!-- landing page -->
    <section id="top">
        <div class="landing-page">
            <div class="name">
                <h1>Nicolaus Christian Gozali</h1>
            </div>
            <div class="down-arrow">
                <a href="#profile"><img src="{% static 'lab_4/img/down-arrow.png' %}"></a>
            </div>
        </div>
    </section>
    
    <!-- navbar -->
    <div class="custom-wrapper">
        <nav class="navbar">
            <div class="nav-wrapper white black-text">
                <span class="brand-logo black-text">N</span>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
                <ul class="right hide-on-med-and-down section table-of-contents">
                    <li><a href="#profile">Profile</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#project">Project</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="{% url 'lab_4:schedule' %}">Schedule</a></li>
                    <li><a href="{% url 'lab_4:register' %}">Register</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="#profile">Profile</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#project">Project</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="{% url 'lab_4:schedule' %}">Schedule</a></li>
        <li><a href="{% url 'lab_4:register' %}">Register</a></li>
    </ul>

    <!-- profile section -->
    <section id="profile" class="section scrollspy"> 
        <div class="empty-div"></div>
        <div class="row">
            <div class="col s12 m10 l8 push-m1 push-l2">
                <h1>Profile</h1>
                <h2>I'm a CS student at UI</h2>
                <div class="divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m10 l8 push-m1 push-l2">
                <div class="col s12 l4">
                    <h3>A little about myself</h3>
                    <p>
                        Hi, I am Nicolaus and I am currently at my second year here in UI. Throughout the year, making web applications and finding patterns in data piqued my interest. 
                        Although I may have just scratched the surface, I am eager to learn and dwelve deeper on this ever evolving field.
                    </p>
                </div>
                <div class="col s12 l4">
                    <div class="profile-pic"><img src="{% static 'lab_4/img/prof.png' %}"></div>
                </div>
                <div class="col s12 l4">
                    <h3>Interests</h3>
                    <div class="interest">
                        <div class="icon"><img src="{% static 'lab_4/img/001-web.png' %}"></div>
                        <span class="text">Web Development</span>
                    </div>
                    <div class="interest">
                        <span class="icon"><img src="{% static 'lab_4/img/002-analysis.png' %}"></span>
                        <span class="text">Data Science</span>
                    </div>
                    <div class="interest">
                        <span class="icon"><img src="{% static 'lab_4/img/003-console.png' %}"></span>
                        <span class="text">Games</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-div"></div>
    </section>

    <!-- experience section -->
    <section id="experience" class="section scrollspy"> 
        <div class="row">
            <div class="col s12 m10 l8 push-m1 push-l2">
                <h1>Experience</h1>
                <div class="divider"></div>
                <h3>Education</h3>
                <div class="card">
                    <div class="card-content custom-experience-card-content black-text">
                        <div class="col s12 l4">
                            <span class="card-title">Universitas Indonesia</span>
                            <span class="experience-card-date">May 2017 - now</span>
                        </div>
                        <div class="col s12 l8">
                            <span class="experience-card-heading">Bachelor - Computer Science</span>
                            <p>I'm currently in my second year here and the education is mainly java-based programming. I am interested to pursue a data science major next year.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content custom-experience-card-content black-text">
                        <div class="col s12 l4">
                            <span class="card-title">GO-ACADEMY</span>
                            <span class="experience-card-date">Jul 2018 - Aug 2018</span>
                        </div>
                        <div class="col s12 l8">
                            <span class="experience-card-heading">Participant - GOJEKxCompfest Software Engineering Academy</span>
                            <p>6 day bootcamp over 3 weeks, tutored by engineers from Gojek. Learnt about clean code, TDD, microservices and engineering cultures in the industry.</p>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <h3>Career</h3>
                <div class="card">
                    <div class="card-content custom-experience-card-content black-text">
                        <div class="col s12 l4">
                            <span class="card-title">Universitas Indonesia</span>
                            <span class="card-date">Sep 2018 - now</span>
                        </div>
                        <div class="col s12 l8">
                            <span class="experience-card-heading">Teaching Assistant - Programming Foundations 1</span>
                            <p>An intoductory python course attended by 29 students. Grades assignments, provide demo session and watch over lab session</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-div"></div>
    </section>
    
    <!-- featured projects section -->
    <section id="project" class="section scrollspy"> 
        <div class="row">
            <div class="col s12 m10 l8 push-m1 push-l2">
                <h1>Featured Projects</h1>
                <div class="divider"></div>
                <div class="col s12 m4">
                    <div class="card project-card medium">
                        <div class="card-image">
                            <img src="{% static 'lab_4/img/circular.jpg' %}">                          
                        </div>
                        <div class="card-content">
                            <span class="card-title black-text">Circular</span>
                            <p>Web content rating and discussion website</p>
                        </div>
                        <div class="card-action">
                            <span class="date">Sep 2018</span>
                            <a href="{% url 'lab_4:detail' %}" class="black-text">view details</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                        <div class="card project-card medium">
                            <div class="card-image">
                                <img src="{% static 'lab_4/img/kurnia.png' %}">                            
                            </div>
                            <div class="card-content">
                                <span class="card-title black-text">Kurnia</span>
                                <p>Highschool website</p>
                            </div>
                            <div class="card-action">
                                <span class="date">Sep 2018</span>
                                <a href="{% url 'lab_4:detail' %}" class="black-text">view details</a>
                            </div>
                        </div>
                </div>
                <div class="col s12 m4">
                    <div class="card project-card medium">
                        <div class="card-image">
                            <img src="{% static 'lab_4/img/question-mark.png' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title black-text">And more to come!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-div"></div>
    </section>

    <!-- contact section -->
    {% include "lab_4/_contact.html" %}
{% endblock %}