{% extends 'lab_4/_base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
    <!-- navbar -->
    <div class="custom-wrapper">
        <nav class="navbar">
            <div class="nav-wrapper white black-text">
                <span class="brand-logo black-text">N</span>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
                <ul class="right hide-on-med-and-down section table-of-contents">
                    <li><a href="{% url 'lab_4:index' %}#profile">Return to Profile</a></li>
                </ul>
            </div>
        </nav>
    </div>
          
    {% if messages %}
        <div id="modal1" class="modal">
            <div class="modal-content">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    {% endif %}

    <ul class="side-nav" id="mobile-demo">
        <li><a href="{% url 'lab_4:index' %}#profile">Return to Profile</a></li>
    </ul>
        
    <div class="register-menu black-text">
        <div class="row">
            <div class="col s12 m10 l8 push-m1 push-l2">
                <h1>Register</h1>
            </div>
        </div>
        <div class="row">
            <form class="col s12 m10 l8 push-m1 push-l2" action="{% url 'lab_4:register' %}" method="post"  id="register-form">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        <input id="full_name" type="text" class="validate" required="" aria-required="true">
                        <label for="full_name">Full Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" type="text" class="validate" required="" aria-required="true">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate" required="" aria-required="true">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="password" type="password" class="validate" required="" aria-required="true">
                        <label for="password">Password</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="passwordConfirm" type="password" required="" aria-required="true">
                        <label id="lblPasswordConfirm" for="passwordConfirm" data-error="Password not match" data-success="Password Match">Password (Confirm)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input type="text" id="birthdate" class="datepicker picker__input" required>
                        <label for="birthdate">Birthdate</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light black" type="submit" name="action">
                            Submit<i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}