{% extends 'lab_4/_base.html' %}
{% load static %}

{% block title %}Personal Schedule{% endblock %}
{% block content %}
    <div class="custom-wrapper">
        <nav class="navbar">
            <div class="nav-wrapper white black-text">
                <span class="brand-logo black-text">N</span>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
                <ul class="right hide-on-med-and-down section table-of-contents">
                    <li><a href="{% url 'lab_4:index' %}#profile">Return to Profile</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="{% url 'lab_4:index' %}#profile">Return to Profile</a></li>
    </ul>
    <h1>Personal Schedule</h1>

    {% if messages %}
        <div id="modal1" class="modal">
            <div class="modal-content">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    {% endif %}

    {% if activities|length > 0 %}
        {% for activity in activities %}
            <div class="row">
                <div class="col s12 m10 l8 push-m1 push-l2">
                    <div class="card-panel activity-card white">
                        <div class="activity-date">
                            <div>{{ activity.date_time | date:"F d"}}</div>
                            <div class="date-text">{{ activity.date_time | time:"H:i"}}</div>
                        </div>
                        <div class="activity-content">
                            <div class="activity-title">{{ activity.name }}</div>
                            <span class="activity-category">{{ activity.category }}</span>
                            <span class="activity-location"><img class="icon" src="{% static 'lab_4/img/004-pin.png' %}">{{ activity.location }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <div class="row">
                <div class="col s12 m10 l8 push-m1 push-l2">
                    <div class="card-panel activity-card white">
                        no activities yet
                    </div>
                </div>
            </div>
    {% endif %}

    <div class="row">
        <div class="col s12 m10 l8 push-m1 push-l2">
            <a class="waves-effect waves-light btn modal-trigger black right" href="#modal2">Add new activity</a>
            
            <form action="{% url 'lab_4:schedule_delete_all' %}" method="post">
                {% csrf_token %}
                <button class="btn waves-effect waves-light black" type="submit" name="action">
                    Complete All
                </button>
            </form>

            <!-- Modal Structure -->
            <div id="modal2" class="modal">
                <div class="modal-content">
                    <h3>New activity</h3>

                    <form action="{% url 'lab_4:schedule' %}" method="post" id="activity-form">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="input-field">
                            {{ form.name.errors }}
                            <label for="{{ form.name.id_for_label }}">Name</label>
                            {{ form.name }}
                        </div>
                        <div class="input-field">
                            <label for="{{ form.location.id_for_label }}">Location</label>
                            {{ form.location }}
                        </div>
                        <div class="input-field">
                            <label for="{{ category.id_for_label }}">Category</label>
                            {{ form.category }}
                        </div>
                        <div class="input-field">
                            <label for="{{ date.id_for_label }}">Date and Time (yyyy-MM-dd hh:mm)</label>
                            {{ form.date_time }}
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light black" type="submit" name="action">
                                    Submit<i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="empty-div"></div>
        </div>
    </div>
{% endblock %}